<div class="container">
  <div class="row">
    <div class="col s6 offset-s3 hello">
      <div class="section brand-logo">
        <h1> Growlr</h1>
        <h3>No Crap On Tap!</h3>
      </div>
      <div class="section">
        <!-- Signup Modal Button -->
        <a class="waves-effect waves-light btn modal-trigger" href="#modal_signup">Sign Up!</a>
        <!-- Login Modal Button -->
        <a class="waves-effect waves-light btn modal-trigger" href="#modal_login">Login</a>
      </div>
    </div>
  </div>
</div>

<%= render "shared/sign_up_login_modal" %>

<div class="container">
  <div class="row">
    <div class="col s12 hello">
      <div class="section brand-logo">
        <h1> Welcome to Growlr!</h1>
        <h4>  &emsp; Growlr is your personal beer assistent.
          A place for you to keep track of your favorite beers,
          rate beers you've tried, and discover new beers. Tired
          of going out with your friends and finding your new
          favorite beer, only to drink too many of them and forget
          what they were called? That's when Growlr comes in. With
          just a few clicks, you can add a rating to a beer and it
          will be added to your list so you'll always be able to find it.</h4>

        <h4>&emsp; Because Growler is about beer, you do need to be over 21 years
          of age to sign up. So if you were not born before 21 years ago from right now
          (E.G. Your birthday is after: <%= 21.years.ago.to_formatted_s(:long_ordinal) %>)
          this site is not for you! </h4>
      </div>
    </div>
  </div>
</div>
