<nav>
  <div class="search">
    <%= search_form_for @q do |f| %>
        <%= f.label :name_or_style_or_brewery_or_country_cont %>
        <%= f.search_field :name_or_style_or_brewery_or_country_cont, class:"input-field col s6"%>
      <%= f.submit "search", class:"btn-flat"%>
    <% end %>
  </div>
</nav>
